{% extends "vertical_base.html" %} 
{% load static i18n %} 
{% block head_title%}{% trans "JsGrid Tables" %}{% endblock head_title %}
{% block extra_css %}
<!-- third party css -->
<link
  href="{% static 'libs/jsgrid/jsgrid.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/jsgrid/jsgrid-theme.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->
{% endblock %}
 {% block content %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">UBold</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Tables</a>
            </li>
            <li class="breadcrumb-item active">JsGrid</li>
          </ol>
        </div>
        <h4 class="page-title">JsGrid Tables</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div id="jsGrid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container -->
{% endblock %} {% block extra_javascript %}
<!-- Third party js -->
<script src="{% static 'libs/jsgrid/jsgrid.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/jsgrid.init.js' %}"></script>
<!-- Init js end -->
{% endblock %}
