
.balance_sheet_account_lv0{

}
.balance_sheet_account_lv1{
  padding-left: 1vw;

}
.balance_sheet_account_lv2{
  padding-left: 2vw;
}
.balance_sheet_account_lv3{
  padding-left: 3vw;
}
.balance_sheet_account_lv4{
  padding-left: 4vw;
}
