<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div id="peopleIframeDiv" style="
            {#position:absolute; top:-360px; left:0px; overflow-x:hidden; overflow-y:hidden; width:700px;#}
            /* position: absolute; */
            /* top: -360px; */
            /* left: 0px; */
            overflow-x: hidden;
            overflow-y: hidden;
            width: 1215px;
            height: 702px;
          ">
            <iframe id="peopleIframe" src="https://www.businesspost.co.kr/BP?command=power" scrolling="no" style="
              position: relative;
              width: 100vw;
              height: 300vh;
              top: -2073px;
              left: -672px;
            "></iframe>
          </div>
        </div>
        <!-- end card body-->
      </div>
      <!-- end card -->
    </div>
    <!-- end col-->
  </div>

</body>
</html>
