{% extends "vertical_base.html" %}
{% load static i18n %}
{% block head_title%}{% trans "Datatables" %}{% endblock head_title %}
{% block extra_css %}

<!-- third party css -->
<link
  href="{% static 'css/BBD.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->
{% endblock %}


{% block content %}
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">
          기업정보
          {% if comp_name %}
            - {{ comp_name }}
          {% endif %}
        </h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="mb-3" style="display: flex; justify-content: right; margin-top:1vh">
    <label for="example-date" class="form-label">Date</label>
{#            <form action="/pages/companyinfo" method="get">#}
    <div style="width:50%; display:flex; justify-content:right;">
      <form action="{{ request.path }}" style="width:100%" method="get">
        <input
          class="form-control"
          id="anlys-date-start"
          type="date"
          name="startDate"
          value="{{ request.GET.startDate }}"
          style="display:inline-block; width:15%;"
        />
        <input
          class="form-control"
          id="anlys-date-end"
          type="date"
          name="endDate"
          value="{{ request.GET.endDate }}"
          style="display:inline-block; width:15%;"
        />
        <div id="date_term_btn" class="btn-group">
          <button type="button" class="btn btn-soft-primary" value="1">1개월</button>
          <button type="button" class="btn btn-soft-primary" value="3">3개월</button>
          <button type="button" class="btn btn-soft-primary" value="6">6개월</button>
          <button type="button" class="btn btn-soft-primary" value="12">12개월</button>
        </div>
        <button type="submit" class="btn btn-primary waves-effect waves-light">
          검색
        </button>
      </form>

    </div>
{#              <button type="submit" class="btn btn-primary waves-effect waves-light mb-2">#}
{#                Submit#}
{#              </button>#}
{#            </form>#}
  </div>

  {% for mention_type, value in mention_data.items %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="header-title" >{{ value.name }}</h4>
            <div style="margin-top:3vh">
              <div
                id="{{ mention_type }}-graph"
                style="
                  height: 450px;
                  width: 100%;
                "
                data-colors="#4fc6e1,#f7b84b,#4a81d4"
              ></div>

              <div class="keyword-checkbox" style="
                width: 100%;
              ">
                <ul id="{{ mention_type }}-checkbox" style="margin-top: 2vh; display: flex; justify-content: center;">
                    {% for keyword in keyword_list %}
                      <li style="
                        display: inline;
                        padding: 0.2vh 0.5vw;
                      ">
                        <div class="form-check mb-2 form-check-primary" style="
                          display: inline-block;
                          border: 1px solid #6658dd ;
                          border-radius: 2em;
                          padding: 0.5vh 0.6vw;
                        ">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value={{ keyword }}
                            id="{{ mention_type }}-{{ keyword }}"
                            checked="checked"
                            style="display: inline-block; margin-left: 0;"
                          />
                          <label class="form-check-label" style="margin-left: 0.3vw;" for="{{ mention_type }}-{{ keyword }}" >{{ keyword }}</label>
                        </div>
                      </li>
                    {% endfor %}
                </ul>
              </div>
            </div>

          </div>
        </div>
        <!-- end card -->
      </div>
    </div>
  {% endfor %}

  <div id="wordCloud" style="
    width: 600px;
    height: 300px;
  ">word cloud</div>
</div>
{% endblock %}

{% block extra_javascript %}

<script src="{% static 'libs/wordcloud/src/wordcloud2.js' %}"></script>

<script>
  //기간 '1개월', '3개월' 버튼 클릭시 이벤트 처리.
  $("#date_term_btn > button").click(function (){
    var termMonth = parseInt(this.value)

    var today = new Date()
    var startDate = new Date(today.getFullYear(), today.getMonth()-termMonth, today.getDate())

    $("#anlys-date-start").val(startDate.toISOString().split("T")[0])
    $("#anlys-date-end").val(today.toISOString().split("T")[0])
  })

  var wordCloudOpt = {
    list : {{pos_neg_data.wordCloud|safe|default:"[]"}},
    color: function (word, data1, data2){
      return "black";
    },
    backgroundColor: null,
    hover: function (item, dimension, event){
      //단어 언급량 작은 모달?
      return
    }
  }
  WordCloud.minFontSize = 40
  WordCloud(document.getElementById("wordCloud"), wordCloudOpt)

</script>

<!-- Third party js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<script>
$(document).ready(function () {
    $("#basic-datatable").DataTable({
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}}, drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    });
    var a = $("#datatable-buttons").DataTable({
        lengthChange: !1,
        buttons: [{extend: "copy", className: "btn-light"}, {extend: "print", className: "btn-light"}, {extend: "pdf", className: "btn-light"}],
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    });
    $("#selection-datatable").DataTable({
        select: {style: "multi"},
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#key-datatable").DataTable({
        keys: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), a.buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"), $("#alternative-page-datatable").DataTable({
        pagingType: "full_numbers",
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#scroll-vertical-datatable").DataTable({
        scrollY: !0,
        scrollCollapse: !0,
        paging: !1,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#notice-table").DataTable({
        scrollY: false,
        scrollCollapse: !0,
        paging: true,
        ordering: false,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#shareholder-table").DataTable({
        scrollX: "100%",
        scrollY: "600px",
        scrollCollapse: true,
        paging: false,
        ordering: true,
        order:[[{{ shareholder_term_list|length }}, "asc"]],
        {#rowGroup: false,#}
        {#responsive: false,#}
        {#fixedHeader:false,#}
        fixedColumns: { left: "1" },
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () { $(".dataTables_paginate > .pagination").addClass("pagination-rounded") }
        {% comment %}scrollX: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }{% endcomment %}
    }), $("#dividend-table").DataTable({
        scrollX: "100%",
        scrollY: "600px",
        scrollCollapse: true,
        paging: false,
        ordering: false,
        order:[[{{ dividend_term_list|length }}, "asc"]],
        {#rowGroup: false,#}
        {#responsive: false,#}
        {#fixedHeader:false,#}
        fixedColumns: { left: "1" },
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () { $(".dataTables_paginate > .pagination").addClass("pagination-rounded") }
        {% comment %}scrollX: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }{% endcomment %}
    }), $("#wcp-table").DataTable({
        scrollX: !0,
        ordering: false,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#board-member-table").DataTable({
        scrollY: "600px",
        ordering: false,
        paging: false,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#bm-personal-wage-table").DataTable({
        scrollY: false,
        ordering: true,
        order:[[2, "dec"]],
        paging: false,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#executive-wage-table").DataTable({
        scrollX: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#scroll-horizontal-datatable").DataTable({
        scrollX: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#stock_list_table").DataTable({
        scrollY: false,
        scrollCollapse: true,
        paging: true,
        searching: false,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $("#income_statement_table").DataTable({
        scrollX: "100%",
        scrollY: "600px",
        scrollCollapse: true,
        paging: false,
        ordering: false,
        {#rowGroup: false,#}
        {#responsive: false,#}
        {#fixedHeader:false,#}
        fixedColumns: { left: "1" },
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () { $(".dataTables_paginate > .pagination").addClass("pagination-rounded") }
    }), $("#balance_sheet_table").DataTable({
        scrollX: "100%",
        scrollY: "600px",
        scrollCollapse: true,
        paging: false,
        ordering: false,
        {#rowGroup: false,#}
        {#responsive: false,#}
        {#fixedHeader:false,#}
        fixedColumns: { left: "1" },
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () { $(".dataTables_paginate > .pagination").addClass("pagination-rounded") }
    }), $("#cashflow_statement_table").DataTable({
        scrollX: "100%",
        scrollY: "600px",
        scrollCollapse: true,
        paging: false,
        ordering: false,
        {#rowGroup: false,#}
        {#responsive: false,#}
        {#fixedHeader:false,#}
        fixedColumns: { left: "1" },
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () { $(".dataTables_paginate > .pagination").addClass("pagination-rounded") }
    }), $("#complex-header-datatable").DataTable({
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        },
        columnDefs: [{visible: !1, targets: -1}]
    }), $("#row-callback-datatable").DataTable({
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        },
        createdRow: function (a, e, t) {
            15e4 < +e[5].replace(/[\$,]/g, "") && $("td", a).eq(5).addClass("text-danger")
        }
    }), $("#state-saving-datatable").DataTable({
        stateSave: !0,
        language: {paginate: {previous: "<i class='mdi mdi-chevron-left'>", next: "<i class='mdi mdi-chevron-right'>"}},
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
        }
    }), $(".dataTables_length select").addClass("form-select form-select-sm"), $(".dataTables_length select").removeClass("custom-select custom-select-sm"), $(".dataTables_length label").addClass("form-label")
});

</script>
<!-- Init js end -->


<script src="{% static 'libs/flot-charts/jquery.flot.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.time.js' %}"></script>
<script src="{% static 'libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.resize.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.pie.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.selection.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.stack.js' %}"></script>
<script src="{% static 'libs/flot-orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'libs/flot-charts/jquery.flot.crosshair.js' %}"></script>



<script>
  !function (b) {
    "use strict";

    function a() {
        this.$body = b("body"), this.$realData = []
    }

    a.prototype.randomData = function () {
        for (0 < this.$realData.length && (this.$realData = this.$realData.slice(1)); this.$realData.length < 300;) {
            var a = (0 < this.$realData.length ? this.$realData[this.$realData.length - 1] : 50) + 10 * Math.random() - 5;
            a < 0 ? a = 0 : 100 < a && (a = 100), this.$realData.push(a)
        }
        for (var o = [], t = 0; t < this.$realData.length; ++t) o.push([t, this.$realData[t]]);
        return o
    },

    {#언급량 전체 추이 그래프. #}
    a.prototype.createSocialAnalysisGraph = function (a, o, t, r) {
        t = {
            bars: {
              show: false,
              barWidth: 60*60*24*1*1000,//x축(수평그래프라면 y축)의 단위 기준. 현재 y축이 시간 단위이므로, millisecond단위로 값을 주어야 y축에서 그만큼에 해당하는 넓이를 부여함.
              horizontal:false,
              align: "center",
            },
            lines:{
              show:true,
            },
            grid: {
                show: true,
                aboveData: false,
                labelMargin: 5,
                axisMargin: 0,
                borderWidth: 1,
                minBorderMargin: 5,
                clickable: !0,
                hoverable: !0,
                autoHighlight: !1,
                mouseActiveRadius: 20,
                borderColor: "rgba(65, 80, 95, 0.07)"
            },
            series: {
              stack: false,
            },
            legend: {
                show: false,
                position: "sw",
                margin: [0, -40],
                noColumns: 0,
                labelBoxBorderColor: null,
                labelFormatter: function (a, o) {
                    return a + "&nbsp;&nbsp;"
                },
                width: 30,
                height: 2,
            },
            {#yaxis: o.y,#}
            yaxis: {
                {#ticks: [0,100,100000],#}
                {% comment %}tickFormatter: function formatter(val, axis, precision){
                  if(Math.abs(val) > 1000000000){return (val/10000000000)+"B";}
                  else if(Math.abs(val) > 1000000){return(val/1000000)+"M";}
                  else if(Math.abs(val) > 1000){return (val/1000)+"T";}
                  else{return val;}
                },{% endcomment %}
                tickColor: "rgba(65, 80, 95, 0.07)",
                font: {color: "#8391a2"}
            },
            xaxis: {
              ticks: {{ xaxis_day_list|safe|default:"[]" }},
              {% comment %}tickFormatter: function (val, axis) {
                  console.log(val);
                  console.log(axis)
                  var d = new Date(val);
                  return d.getUTCFullYear() + "/" + (d.getUTCMonth()+1);
              },{% endcomment %}
              tickColor: "rgba(65, 80, 95, 0.07)",
              font: {color: "#8391a2"},
              mode: "time",//x축 시간 타입으로.
              timeformat: "%Y-%m-%d",//시간 타입 형태.
              {#minTickSize: [1, "month"],#}
            },
            {#xaxis: o.x,#}
            colors: t,
            tooltip: true,
            tooltipOpts: {content: "%s : %x, %y", shifts: {x: -30, y: -50}}//마우스 올려 놓았을 때 작은 설명 모달. %x가 x축 값, .2가 표시할 소수점 자리수.
        }, b.plot(b(a), r, t)
    },

    a.prototype.setSocialAnalysisGraphOptAndCreate = function (graph_el_id, checkbox_el_id, data, color_list){
      //처음 그래프 그리기.
      var graphData = new Array;//flot char 함수에 전달할 데이터 리스트.
      //모든 키워드 데이터 리스트에 추가.
      Object.keys(data).forEach(function (keyword, i){
        graphData.push({label:keyword, data: data[keyword], color: color_list[i]})
        //flotchar의 stacked graph를 이용하여 그래프 상에 보여지는 값들의 합 bar 생성.
        //그래프 그려지는 순서 옵션 찾지 못해 graphData의 첫 번째 위치에 stacked graph데이터가 위치해야하여 unshift 사용.
        graphData.unshift({label:"sum", data: data[keyword], bars: { show: true, fillColor:"#e3e5e5", },
                    lines:{show: false}, color: "#e3e5e5", stack: "sum"})
      })

      this.createSocialAnalysisGraph("#"+graph_el_id, {}, color_list, graphData);

      //항목 체크박스 선택시 이벤트 핸들러.
      function toggleKeyword(mainObj){
        var graphData = new Array;

        //체크된 키워드들의 데이터만 추가하여 그래프 생성.
        $("#"+checkbox_el_id).find("input[type='checkbox']").each(function (index) {
          if ($(this).is(":checked")) {
              var keyword = $(this).attr("value")

              graphData.push({label:keyword, data: data[keyword], color: color_list[index]})
              //위 '처음 그래프 그리기'와 동일한 설명.
              graphData.unshift({label:"sum", data: data[keyword], bars: { show: true, fillColor:"#e3e5e5", },
                    lines:{show: false}, color: "#e3e5e5", stack: "sum"})
          }
        });

        mainObj.createSocialAnalysisGraph("#"+graph_el_id, {}, color_list, graphData);
      }

      var mainObj = this
      {#doToggling(mainObj)#}
      $("#"+checkbox_el_id).find("input[type='checkbox']").click(function () {//체크박스에 클릭이벤트 핸들러 정의.
          toggleKeyword(mainObj);
      });
    },

    a.prototype.init = function () {
        var o
        //그래프 색.
        var color_list = ["#4fc6e1",   "#1abc9c", "#4a81d4", "#f7b84b", "#f1556c", "#4a81d4","#f672a7"]

        //키워드 체크 박스 색 변경.
        $(".keyword-checkbox").each(function (){
          $(this).find("ul > li > div").each(function (idx){
            //div테두리 색 변경.
            $(this).css("border", "1px solid "+color_list[idx])
            //체크 박스 색 변경.
            var checkboxEl = $(this).find("input[type='checkbox']")
            var preStyle = checkboxEl.attr("style")
            checkboxEl.attr("style", preStyle+" background-color: "+color_list[idx]+" !important; border-color: "+color_list[idx]+" !important; ")
          })
        })

        {#언급량 전체 추이 그래프. #}
        var mention_total_count_graph_data = {{ mention_data.total_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("total_mention-graph", "total_mention-checkbox", mention_total_count_graph_data, color_list);

        {#커뮤니티 추이 그래프. #}
        var community_mention_graph_data = {{ mention_data.community_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("community_mention-graph", "community_mention-checkbox", community_mention_graph_data, color_list);

        {#인스타 추이 그래프. #}
        var insta_mention_graph_data = {{ mention_data.insta_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("insta_mention-graph", "insta_mention-checkbox", insta_mention_graph_data, color_list);

        {#블로그 추이 그래프. #}
        var blog_mention_graph_data = {{ mention_data.blog_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("blog_mention-graph", "blog_mention-checkbox", blog_mention_graph_data, color_list);

        {#뉴스 추이 그래프. #}
        var news_mention_graph_data = {{ mention_data.news_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("news_mention-graph","news_mention-checkbox", news_mention_graph_data, color_list);

        {#트위터 추이 그래프. #}
        var twitter_mention_graph_data = {{ mention_data.twitter_mention.count_list|safe|default:"{}" }};
        this.setSocialAnalysisGraphOptAndCreate("twitter_mention-graph", "twitter_mention-checkbox", twitter_mention_graph_data, color_list);



    }, b.FlotChart = new a, b.FlotChart.Constructor = a
  }(window.jQuery), function () {
      "use strict";
      window.jQuery.FlotChart.init()
  }();

  $(document).ready(function () {
    $("#financial-statement-table").DataTable({
      scrollY: "800px",
      scrollX: !0,
      {#scrollCollapse: true,#}
      paging: false,
      language: {
        paginate: {
          previous: "<i class='mdi mdi-chevron-left'>",
          next: "<i class='mdi mdi-chevron-right'>"
        }
      }, drawCallback: function () {
        $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
      }
    });
  });

</script>

{#    range 선택 바. #}
<script src="{% static 'libs/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>

<!-- Init js -->
{#<script src="{% static 'js/pages/range-sliders.init.js' %}"></script>#}
  <script>
    //평균급여 및 종업원 수 > 기간 바 렌더링.
    var wcp_term_list = {{ wcp_term_list|safe|default:"[]" }}
    var wcp_list = {{ wcp_list|safe|default:"[]" }}

    $("#wcp_term_list_range").ionRangeSlider({
        grid: !0,
        from: wcp_term_list.length,
        values: wcp_term_list
    })

    //평균급여 및 종업원 수 분기별 테이블 변경 이벤트 처리.
    $("#wcp_term_list_range").change(function () {//항목에 클릭 이벤트 핸들러 정의.
        var termName = $(this).val();//선택된 기간 값 가져오기.
        var table = $("#wcp-table").DataTable();

        var targetData = wcp_list[termName]//선택된 기간에 해당하는 wcp데이터 추출.
        var newRows = []
        for(var temp_i=0; temp_i<Object.keys(targetData).length; temp_i++){//추출한 데이터(dict형)를 테이블에 삽입할 Array형태로 정제.
          var category = Object.keys(targetData)[temp_i]//키값인 카테고리 추출.
          var value_list = Object.values(targetData[category])//value를 array로 변경.
          value_list.unshift(category)//카테고리값 array 맨 앞에 추가.

          newRows.push(value_list)//삽입할 데이터 변수에 추가.
        }

        table.clear()//기존 데이터 row들 삭제.
        table.rows.add(newRows).draw()//정제된 데이터 삽입.
    });

    //이사회 임원 및 평균 보수 > 기간 바 렌더링.
    var board_member_term_list = {{ board_member_data.term_list|safe|default:"[]" }}
    var board_member_list = {{ board_member_data.list|safe|default:"[]" }}
    var bm_personal_wage_list = {{ bm_personal_wage_data.list|safe|default:"[]" }}

    $("#board_member_term_list_range").ionRangeSlider({
        grid: !0,
        from: board_member_term_list.length,
        values: board_member_term_list
    })

    //이사회 임원 및 평균 보수 분기별 테이블 변경 이벤트 처리.
    $("#board_member_term_list_range").change(function () {//항목에 클릭 이벤트 핸들러 정의.
        var termName = $(this).val();//선택된 기간 값 가져오기.
        var member_list_table = $("#board-member-table").DataTable();
        var member_wage_table = $("#bm-personal-wage-table").DataTable();

        var memberListTargetData = board_member_list[termName]//선택된 기간에 해당하는 wcp데이터 추출.
        var memberListNewRows = []
        for(var temp_i=0; temp_i<memberListTargetData.length; temp_i++){//추출한 데이터(dict형)를 테이블에 삽입할 Array형태로 정제.
          memberListNewRows.push(memberListTargetData[temp_i])//삽입할 데이터 변수에 추가.
        }

        var memberWageTargetData = bm_personal_wage_list[termName]
        var memberWageNewRows = []
        if(memberWageTargetData !== undefined){
          for(var temp_i=0; temp_i<memberWageTargetData.length; temp_i++){
            memberWageNewRows.push(memberWageTargetData[temp_i])
          }
        }

        member_list_table.clear()//기존 데이터 row들 삭제.
        member_list_table.rows.add(memberListNewRows).draw()//정제된 데이터 삽입.

        member_wage_table.clear()
        member_wage_table.rows.add(memberWageNewRows).draw()
    });


  </script>

{% endblock %}
