{% extends "vertical_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Dashboard 3" %}{% endblock head_title %}



{% block content %}
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                        <li class="breadcrumb-item active">Dashboard 3</li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard 3</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card" id="tooltip-container">
                <div class="card-body">
                    <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="More Info"></i>
                    <h4 class="mt-0 font-16">Income Status</h4>
                    <h2 class="text-primary my-3 text-center">$<span data-plugin="counterup">31,570</span></h2>
                    <p class="text-muted mb-0">Total income: $22506 <span class="float-end"><i
                                class="fa fa-caret-up text-success me-1"></i>10.25%</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card" id="tooltip-container1">
                <div class="card-body">
                    <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container1"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="More Info"></i>
                    <h4 class="mt-0 font-16">Sales Status</h4>
                    <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">683</span></h2>
                    <p class="text-muted mb-0">Total sales: 2398 <span class="float-end"><i
                                class="fa fa-caret-down text-danger me-1"></i>7.85%</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card" id="tooltip-container2">
                <div class="card-body">
                    <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container2"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="More Info"></i>
                    <h4 class="mt-0 font-16">Recent Users</h4>
                    <h2 class="text-primary my-3 text-center"><span data-plugin="counterup">3.2</span>M</h2>
                    <p class="text-muted mb-0">Total users: 121 M <span class="float-end"><i
                                class="fa fa-caret-up text-success me-1"></i>3.64%</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card" id="tooltip-container3">
                <div class="card-body">
                    <i class="fa fa-info-circle text-muted float-end" data-bs-container="#tooltip-container3"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="More Info"></i>
                    <h4 class="mt-0 font-16">Total Revenue</h4>
                    <h2 class="text-primary my-3 text-center">$<span data-plugin="counterup">68,541</span></h2>
                    <p class="text-muted mb-0">Total revenue: $1.2 M <span class="float-end"><i
                                class="fa fa-caret-up text-success me-1"></i>17.48%</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="float-end d-none d-md-inline-block">
                        <div class="btn-group mb-2">
                            <button type="button" class="btn btn-xs btn-secondary">Today</button>
                            <button type="button" class="btn btn-xs btn-light">Weekly</button>
                            <button type="button" class="btn btn-xs btn-light">Monthly</button>
                        </div>
                    </div>
                    <h4 class="header-title">Revenue</h4>
                    <div class="row mt-4 text-center">
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                            <h4><i class="fe-arrow-down text-danger me-1"></i>${{revenueStat.target}}k</h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                            <h4><i class="fe-arrow-up text-success me-1"></i>${{revenueStat.last_week}}k</h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                            <h4><i class="fe-arrow-down text-danger me-1"></i>${{revenueStat.last_month}}k</h4>
                        </div>
                    </div>
                    <div class="mt-3 chartjs-chart">
                        <canvas id="revenue-chart" data-colors="#1fa083,#f1556c" height="300"></canvas>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="float-end d-none d-md-inline-block">
                        <div class="btn-group mb-2">
                            <button type="button" class="btn btn-xs btn-secondary">Today</button>
                            <button type="button" class="btn btn-xs btn-light">Weekly</button>
                            <button type="button" class="btn btn-xs btn-light">Monthly</button>
                        </div>
                    </div>
                    <h4 class="header-title">Projections Vs Actuals</h4>
                    <div class="row mt-4 text-center">
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                            <h4><i class="fe-arrow-down text-danger me-1"></i>${{projectionsVsActualsStat.target}}</h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                            <h4><i class="fe-arrow-up text-success me-1"></i>${{projectionsVsActualsStat.last_week}}
                            </h4>
                        </div>
                        <div class="col-4">
                            <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                            <h4><i class="fe-arrow-down text-danger me-1"></i>${{projectionsVsActualsStat.last_month}}
                            </h4>
                        </div>
                    </div>
                    <div class="mt-3 chartjs-chart">
                        <canvas id="projections-actuals-chart" data-colors="#4a81d4,#e3eaef" height="300"></canvas>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <!-- INBOX -->
        <div class="col-xl-4 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Inbox</h4>

                    <div class="inbox-widget" data-simplebar style="max-height: 407px;">
                        {% for item in inbox %}
                        <div class="inbox-item">
                            <div class="inbox-item-img"><img src="{{item.avatar}}" class="rounded-circle" alt=""></div>
                            <p class="inbox-item-author">{{item.name}}</p>
                            <p class="inbox-item-text">{{item.text}}</p>
                            <p class="inbox-item-date">
                                <a href={{item.link}} class="btn btn-sm btn-link text-info font-13"> Reply </a>
                            </p>
                        </div>
                        {% endfor %}
                    </div> <!-- end inbox-widget -->
                </div>
            </div> <!-- end card -->
        </div> <!-- end col -->

        <!-- Todos app -->
        <div class="col-xl-4 col-lg-6">
            <!-- Todo-->
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Todo</h4>

                    <div class="todoapp">
                        <div class="row">
                            <div class="col">
                                <h5 id="todo-message"><span id="todo-remaining"></span> of <span id="todo-total"></span>
                                    remaining</h5>
                            </div>
                            <div class="col-auto">
                                <a href="" class="float-end btn btn-light btn-sm" id="btn-archive">Archive</a>
                            </div>
                        </div>

                        <div style="max-height: 310px;" data-simplebar>
                            <ul class="list-group list-group-flush todo-list" id="todo-list"></ul>
                        </div>

                        <form name="todo-form" id="todo-form" class="needs-validation mt-3" novalidate>
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="todo-input-text" name="todo-input-text" class="form-control"
                                        placeholder="Add new todo" required>
                                    <div class="invalid-feedback">
                                        Please enter your task name
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn-primary btn-md btn waves-effect waves-light w-100" type="submit"
                                        id="todo-btn-submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- end .todoapp-->

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->

        <!-- CHAT -->
        <div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                    <h4 class="header-title mb-3">Chat</h4>

                    <div class="chat-conversation">
                        <div data-simplebar style="height: 370px;">
                            <ul class="conversation-list">
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="{% static 'images/users/user-5.jpg' %}" alt="male">
                                        <i>10:00</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Geneva</i>
                                            <p>
                                                Hello!
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="{% static 'images/users/user-1.jpg' %}" alt="Female">
                                        <i>10:01</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Dominic</i>
                                            <p>
                                                Hi, How are you? What about our next meeting?
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="chat-avatar">
                                        <img src="{% static 'images/users/user-5.jpg' %}" alt="male">
                                        <i>10:01</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Geneva</i>
                                            <p>
                                                Yeah everything is fine
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix odd">
                                    <div class="chat-avatar">
                                        <img src="{% static 'images/users/user-1.jpg' %}" alt="male">
                                        <i>10:02</i>
                                    </div>
                                    <div class="conversation-text">
                                        <div class="ctext-wrap">
                                            <i>Dominic</i>
                                            <p>
                                                Wow that's great
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <form class="needs-validation" novalidate name="chat-form" id="chat-form">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control chat-input" placeholder="Enter your text"
                                        required>
                                    <div class="invalid-feedback">
                                        Please enter your messsage
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                        class="btn btn-danger chat-send waves-effect waves-light w-100">Send</button>
                                </div>
                            </div>
                        </form>

                    </div> <!-- end .chat-conversation-->
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div> <!-- end row -->

</div> <!-- container -->
{% endblock %}

{% block extra_javascript %}

<!-- Third party js -->
<script src="{% static 'libs/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'libs/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
<!-- Third party js ends -->

<!-- Dashboard init -->
<script src="{% static 'js/pages/jquery.chat.js' %}"></script>
<script src="{% static 'js/pages/jquery.todo.js' %}"></script>

<script type="text/javascript">

    function hexToRGB(a, r) {
        var e = parseInt(a.slice(1, 3), 16),
            t = parseInt(a.slice(3, 5), 16),
            o = parseInt(a.slice(5, 7), 16);
        return r
            ? "rgba(" + e + ", " + t + ", " + o + ", " + r + ")"
            : "rgb(" + e + ", " + t + ", " + o + ")";
    }

    var revenueChartData = JSON.parse("{{revenue|escapejs}}");
    var revenueLabels = Object.keys(revenueChartData);
    var revenueVals = Object.values(revenueChartData);
    var currentWeekArray = revenueVals.map(function (el) { return el.current_week; });
    var previousWeekArray = revenueVals.map(function (el) { return el.previous_week; });

    var projectionsChartData = JSON.parse("{{projectionsVsActuals|escapejs}}");
    var projectionsLabels = Object.keys(projectionsChartData);
    var projectionsVals = Object.values(projectionsChartData);
    var salesAnalyticsArray = projectionsVals.map(function (el) { return el.sales_analytics; });
    var dollarRateArray = projectionsVals.map(function (el) { return el.dollar_rate; });

    !(function (i) {
        "use strict";
        var a = function () {
            (this.$body = i("body")), (this.charts = []);
        };
        (a.prototype.respChart = function (r, e, t, o) {
            var s = r.get(0).getContext("2d");
            (Chart.defaults.global.defaultFontColor = "#8391a2"),
                (Chart.defaults.scale.gridLines.color = "#8391a2");
            var n = i(r).parent();
            return (function () {
                var a;
                switch ((r.attr("width", i(n).width()), e)) {
                    case "Line":
                        a = new Chart(s, { type: "line", data: t, options: o });
                        break;
                    case "Doughnut":
                        a = new Chart(s, { type: "doughnut", data: t, options: o });
                        break;
                    case "Pie":
                        a = new Chart(s, { type: "pie", data: t, options: o });
                        break;
                    case "Bar":
                        a = new Chart(s, { type: "bar", data: t, options: o });
                        break;
                    case "Radar":
                        a = new Chart(s, { type: "radar", data: t, options: o });
                        break;
                    case "PolarArea":
                        a = new Chart(s, { data: t, type: "polarArea", options: o });
                }
                return a;
            })();
        }),
            (a.prototype.initCharts = function () {
                var a = [],
                    r = ["#1abc9c", "#f1556c", "#4a81d4", "#e3eaef"];
                if (0 < i("#revenue-chart").length) {
                    var e = {
                        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                        datasets: [
                            {
                                label: "Current Week",
                                backgroundColor: hexToRGB(
                                    (o = (t = i("#revenue-chart").data("colors"))
                                        ? t.split(",")
                                        : r.concat())[0],
                                    0.3
                                ),
                                borderColor: o[0],
                                data: currentWeekArray,
                            },
                            {
                                label: "Previous Week",
                                fill: !0,
                                backgroundColor: "transparent",
                                borderColor: o[1],
                                borderDash: [5, 5],
                                data: previousWeekArray,
                            },
                        ],
                    };
                    a.push(
                        this.respChart(i("#revenue-chart"), "Line", e, {
                            maintainAspectRatio: !1,
                            legend: { display: !1 },
                            tooltips: { intersect: !1 },
                            hover: { intersect: !0 },
                            plugins: { filler: { propagate: !1 } },
                            scales: {
                                xAxes: [
                                    { reverse: !0, gridLines: { color: "rgba(0,0,0,0.05)" } },
                                ],
                                yAxes: [
                                    {
                                        ticks: { stepSize: 20 },
                                        display: !0,
                                        borderDash: [5, 5],
                                        gridLines: { color: "rgba(0,0,0,0)", fontColor: "#fff" },
                                    },
                                ],
                            },
                        })
                    );
                }
                if (0 < i("#projections-actuals-chart").length) {
                    var t,
                        o,
                        s = {
                            labels: [
                                "Jan",
                                "Feb",
                                "Mar",
                                "Apr",
                                "May",
                                "Jun",
                                "Jul",
                                "Aug",
                                "Sep",
                                "Oct",
                                "Nov",
                                "Dec",
                            ],
                            datasets: [
                                {
                                    label: "Sales Analytics",
                                    backgroundColor: (o = (t = i("#projections-actuals-chart").data(
                                        "colors"
                                    ))
                                        ? t.split(",")
                                        : r.concat())[0],
                                    borderColor: o[0],
                                    hoverBackgroundColor: o[0],
                                    hoverBorderColor: o[0],
                                    data: salesAnalyticsArray,
                                    barPercentage: 0.7,
                                    categoryPercentage: 0.5,
                                },
                                {
                                    label: "Dollar Rate",
                                    backgroundColor: o[1],
                                    borderColor: o[1],
                                    hoverBackgroundColor: o[1],
                                    hoverBorderColor: o[1],
                                    data: dollarRateArray,
                                    barPercentage: 0.7,
                                    categoryPercentage: 0.5,
                                },
                            ],
                        };
                    a.push(
                        this.respChart(i("#projections-actuals-chart"), "Bar", s, {
                            maintainAspectRatio: !1,
                            legend: { display: !1 },
                            scales: {
                                yAxes: [
                                    {
                                        gridLines: { display: !1 },
                                        stacked: !1,
                                        ticks: { stepSize: 20 },
                                    },
                                ],
                                xAxes: [
                                    { stacked: !1, gridLines: { color: "rgba(0,0,0,0.01)" } },
                                ],
                            },
                        })
                    );
                }
                return a;
            }),
            (a.prototype.init = function () {
                var r = this;
                (Chart.defaults.global.defaultFontFamily = "Nunito,sans-serif"),
                    (r.charts = this.initCharts()),
                    i(window).on("resize", function (a) {
                        i.each(r.charts, function (a, r) {
                            try {
                                r.destroy();
                            } catch (a) { }
                        }),
                            (r.charts = r.initCharts());
                    });
            }),
            (i.ChartJs = new a()),
            (i.ChartJs.Constructor = a);
    })(window.jQuery),
        (function (a) {
            "use strict";
            window.jQuery.ChartJs.init();
        })();


</script>

<!-- <script src="{% static 'js/pages/dashboard-3.init.js' %}"></script> -->
<!-- end demo js-->

{% endblock %}