{% extends "vertical_base.html" %} 
{% load static i18n %} 
{% block head_title%}{% trans "Ecommerce Dashboard" %}{% endblock head_title %} 
{% block extra_css%}
<!-- third party css -->
<link
  href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->
{% endblock %} 
{% block content %}
<!-- Start Content-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">UBold</a>
            </li>
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">eCommerce</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    {% for data in statistics %}
    <div class="col-md-6 col-xl-3">
      <div class="widget-rounded-circle card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="avatar-lg rounded bg-soft-{{data.color}}">
                <i
                  class="{{data.icon}} font-24 avatar-title text-{{data.color}}"
                ></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-end">
                <h3 class="text-dark mt-1">
                  {{data.symbolbefore}}<span data-plugin="counterup"
                    >{{data.amount}}</span
                  >{{data.symbolafter}}
                </h3>
                <p class="text-muted mb-1 text-truncate">{{data.name}}</p>
              </div>
            </div>
          </div>
          <!-- end row-->
        </div>
      </div>
      <!-- end widget-rounded-circle-->
    </div>
    <!-- end col-->
    {% endfor %}
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pb-2">
          <div class="float-end d-none d-md-inline-block">
            <div class="btn-group mb-2">
              <button type="button" class="btn btn-xs btn-light">Today</button>
              <button type="button" class="btn btn-xs btn-light">Weekly</button>
              <button type="button" class="btn btn-xs btn-secondary">
                Monthly
              </button>
            </div>
          </div>

          <h4 class="header-title mb-3">Sales Analytics</h4>

          <div class="row text-center">
            <div class="col-md-4">
              <p class="text-muted mb-0 mt-3">Current Week</p>
              <h2 class="fw-normal mb-3">
                <small
                  class="
                    mdi mdi-checkbox-blank-circle
                    text-primary
                    align-middle
                    me-1
                  "
                ></small>
                <span>$58,254</span>
              </h2>
            </div>
            <div class="col-md-4">
              <p class="text-muted mb-0 mt-3">Previous Week</p>
              <h2 class="fw-normal mb-3">
                <small
                  class="
                    mdi mdi-checkbox-blank-circle
                    text-success
                    align-middle
                    me-1
                  "
                ></small>
                <span>$69,524</span>
              </h2>
            </div>
            <div class="col-md-4">
              <p class="text-muted mb-0 mt-3">Targets</p>
              <h2 class="fw-normal mb-3">
                <small
                  class="
                    mdi mdi-checkbox-blank-circle
                    text-success
                    align-middle
                    me-1
                  "
                ></small>
                <span>$95,025</span>
              </h2>
            </div>
          </div>
          <div
            id="revenue-chart"
            class="apex-charts mt-3"
            data-colors="#6658dd,#1abc9c"
          ></div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end">
            <a
              href="#"
              class="dropdown-toggle arrow-none card-drop"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item"
                >Sales Report</a
              >
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item"
                >Export Report</a
              >
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Profit</a>
              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
          </div>

          <h4 class="header-title mb-0">Total Revenue</h4>

          <div class="widget-chart text-center" dir="ltr">
            <div
              id="world-map-markers"
              style="height: 230px"
              class="mt-4"
            ></div>

            <h5 class="text-muted mt-4">Total sales made today</h5>
            <h2>$178</h2>

            <p class="text-muted w-75 mx-auto sp-line-2">
              Traditional heading elements are designed to work best in the meat
              of your page content.
            </p>

            <div class="row mt-4">
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                <h4><i class="fe-arrow-down text-danger me-1"></i>$7.8k</h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                <h4><i class="fe-arrow-up text-success me-1"></i>$1.4k</h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                <h4><i class="fe-arrow-down text-danger me-1"></i>$15k</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col-->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Transaction History</h4>

          <div class="table-responsive">
            <table class="table table-centered table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th class="border-top-0">Name</th>
                  <th class="border-top-0">Card</th>
                  <th class="border-top-0">Date</th>
                  <th class="border-top-0">Amount</th>
                  <th class="border-top-0">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for recoard in transactionHistory %}
                <tr>
                  <td>
                    <img
                      src="{{recoard.person.avatar}}"
                      alt="user-pic"
                      class="rounded-circle avatar-sm bx-shadow-lg"
                    />
                    <span class="ms-2">{{recoard.person.name}}</span>
                  </td>
                  <td>
                    <img
                      src="{{recoard.card.img}}"
                      alt="user-card"
                      height="24"
                    />
                    <span class="ms-2">{{recoard.Card.number}}</span>
                  </td>
                  <td>{{recoard.date}}</td>
                  <td>{{recoard.amount}}</td>
                  <td>
                    <span class="badge rounded-pill bg-{{recoard.status.color}}"
                      >{{recoard.status.name}}</span
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- end table-responsive -->
        </div>
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title mb-3">Recent Products</h4>

          <div class="table-responsive">
            <table class="table table-centered table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th class="border-top-0">Product</th>
                  <th class="border-top-0">Category</th>
                  <th class="border-top-0">Added Date</th>
                  <th class="border-top-0">Amount</th>
                  <th class="border-top-0">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for recoard in recentProducts %}
                <tr>
                  <td>
                    <img
                      src="{{recoard.product.img}}"
                      alt="product-pic"
                      height="36"
                    />
                    <span class="ms-2">{{recoard.product.name}}</span>
                  </td>
                  <td>{{recoard.category}}</td>
                  <td>{{recoard.addedDate}}</td>
                  <td>{{recoard.amount}}</td>
                  <td>
                    <span
                      class="badge bg-soft-{{recoard.status.color}} text-{{recoard.status.color}}"
                      >{{recoard.status.name}}</span
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- end table-responsive -->
        </div>
      </div>
      <!-- end card-->
    </div>
    <!-- end col-->
  </div>
  <!-- end row-->
</div>
<!-- container -->
{% endblock %} 
{% block extra_javascript %}

<!-- Third party js -->
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- Third party js ends -->

<!-- Init js -->
<script src="{% static 'js/pages/ecommerce-dashboard.init.js' %}"></script>
<!-- Init js end -->

{% endblock %}
